/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

h2{
    font-size: 23px;
}

h3{
    font-size: 19px;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.2em;
}

p{
    margin-bottom: 1em;
}

html {
    height: 100%;
    background-color: rgba(42, 42, 42, 0.8);
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
    list-style-type: none;
}

ul.posts li.item {
    font-size: 16px;
    line-height: 1.6em;
}

ul.posts li.item a {
    text-decoration: none;
    color: black;
}

ul.posts li.item a:hover{
    text-decoration: underline;
}

ul.posts li.item span {
    float: right;
    font-size: 14px;
    color: #999;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
body {
    height: 100%;
    width: 850px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.outbackground {
    background-color: white;
}

.site {
    text-align: justify;
    padding: 0 55px;
    line-height: 1.5em;
    overflow: hidden;
}

.sectionBorder{
    border: solid gray;
}

.header {
    border-width: 0;
    border-bottom-width: 3px;
    font-weight: bold;
    padding: 24px 0 0 0;
}

.content {
    color: rgb(101,101,101);
    margin: 20px 0;
}

.site .footer {
    border-width: 0;
    border-top-width: 3px;
}

.site .header a.extra {
    float: right;
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 1em;
}

.site .header a.extra:hover {
    color: black;
    text-decoration: underline;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
    font-size: 18px;
}

/* standard */

#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    margin-bottom: 2em;
}

#post ul,
#post ol {
    margin-left: 1.35em;
    margin-bottom: 0.5em;
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 2px;
}

#post pre code {
    line-height: 1.2em;
    font-size: 15px;
    border: none;
}

/* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

.footer .icon {
    float: right;
    width: 35px;
    height: 35px;
}

.footContent {
    font-size: 14px;
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    margin-right: 10px;
    line-height: 35px;
}

.tags {
    font-size: 18px;
}

.tags a{
    margin-right: 15px;
    text-decoration: none;
    color: #996633;
}

.tagitem {
    margin-top: 20px;
}

.tagitem h2 a{
    text-decoration: none;
    color: #996633;
}