/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

h2{
    font-size: 23px;
    margin-bottom: 8px;
}

html {
    height: 100%;
    background-color: rgba(42, 42, 42, 0.8);
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
    list-style-type: none;
}

ul.posts li {
    font-size: 16px;
    line-height: 1.6em;
}

ul.posts li a {
    text-decoration: none;
    color: #060;
}

ul.posts li a:hover{
    text-decoration: underline;
}

ul.posts li a:visited{
    /*color: #663;*/
}

ul.posts span {
    float: right;
    font-size: 14px;
    color: #999;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
body {
    height: 100%;
    width: 750px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.outbackground {
    background-color: white;
}

.site {
    text-align: justify;
    padding: 0 4em;
    line-height: 1.5em;
}

.sectionBorder{
    border: solid gray;
}

.header {
    border-width: 0;
    border-bottom-width: 3px;
    font-weight: bold;
    padding: 24px 0 0 0;
}

.content {
    color: rgb(101,101,101);
    margin: 20px 0;
}

.site .footer {
    border-width: 0;
    border-top-width: 3px;
}

.site .header a.extra {
    float: right;
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 1em;
}

.site .header a.extra:hover {
    color: black;
    text-decoration: underline;
}

.site .meta {
    color: #aaa;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .contact a {
    color: #8085C1;
}

.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.site .footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
    font-size: 18px;
}

/* standard */

#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

#post ul,
#post ol {
    margin-left: 1.35em;
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

#post pre code {
    border: none;
}

/* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

.icon {
    float: right;
    width: 35px;
    height: 35px;
}

.footContent {
    font-size: 14px;
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    margin-right: 3em;
    line-height: 35px;
}

.tags {
    font-size: 18px;
}

.tags a{
    margin-right: 15px;
    text-decoration: none;
    color: #996633;
}

.tagitem {
    margin-top: 20px;
}

.tagitem h2 a{
    text-decoration: none;
    color: #996633;
}